
.breadcrumbs {
    position: relative;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.breadcrumbs__title {
    border-color: #d28881;
}
.breadcrumbs__items {
    float: left;
}
.breadcrumbs__wrap {
    float: left;
    //margin: 0;
}
.breadcrumbs__item {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0px;
}
.breadcrumbs__item {
    float: left;
}
.breadcrumbs__item-sep {
    color: #181a1f;
}
.breadcrumbs__item-sep {
    margin: 0 .4em;
}
.breadcrumbs__item-target {
    color: #d28881;
}

div#tm_builder_outer_content h2 {
    font-size: 40px;
}
div#tm_builder_outer_content h2 em {
    font-style: normal;
    font-weight: 300;
}

#tm_builder_outer_content .tm_pb_text {
    overflow: hidden;
}

#tm_builder_outer_content .tm_pb_text_align_left {
    text-align: left;
}

#tm_builder_outer_content .tm_pb_slide_description, #tm_builder_outer_content .tm_pb_pricing_content, #tm_builder_outer_content .tm_pb_text, #tm_builder_outer_content .product, #tm_builder_outer_content .tm_pb_widget {
    word-wrap: break-word;
}

#tm_builder_outer_content * {
    box-sizing: border-box;
}

#tm_builder_outer_content .tm_pb_text p:last-of-type {
    padding-bottom: 0;
}
#tm_builder_outer_content * {
    box-sizing: border-box;
}

p {
    margin: 0 0 1.5em;
}

#tm_builder_outer_content .tm_pb_map {
    height: 640px;
}

#tm_builder_outer_content .tm_pb_map {
    height: 440px;
    width: 100%;
    position: relative;
}

h2 {
    font-size: 40px;
}