.breadcrumbs {
    position: relative;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.site{
	overflow: hidden;
}
.breadcrumbs__title {
    border-color: #d28881;
}
.breadcrumbs__items {
    float: left;
}
.breadcrumbs__wrap {
    float: left;
    //margin: 0;
}
.breadcrumbs__item {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0px;
}
.breadcrumbs__item {
    float: left;
}
.breadcrumbs__item-sep {
    color: #181a1f;
}
.breadcrumbs__item-sep {
    margin: 0 .4em;
}
.breadcrumbs__item-target {
    color: #d28881;
}
.font-headlines, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, sans-serif;
}
.entry-title, .entry-title a {
    color: rgb(37, 37, 37);
}
.entry-title {
    font-size: 28px;
}
 .entry-content{
	font-size: 16px;
    line-height: 28px;
    font-family: "Open Sans", Arial, sans-serif;
    color: rgb(0, 0, 0);
 }
 .font-secondary{
	font-family: "Open Sans", Arial, sans-serif;
 }
 h1 {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid;
}
h2 {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid;
}
h1{
	border-color: #e3e3e3;
}
h2{
	border-color: #e3e3e3;
}
.tml {
    max-width: 320px;
}
.tml-login label:hover{
	color: #555
}
.tml-login label {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.tml-login  input[type=text]{
	background: #f3f3f3;
    border-color: #e3e3e3;
	width: 100%;
	padding: 10px 1.5rem;
    font-size: 1.125rem;
    border: 1px solid;
    opacity: .75;
	box-sizing: border-box;
	transition: all .5s ease-in-out;
}
.tml p {
    margin: 0 0 1.5em 0;
    padding: 0;
}
.tml-login input{
	color: #858585;
}
.tml-login input[type=text]:focus{
	outline: none;
	color: #555;
    background: #efefef;
    border-color: #d3d3d3;
}
.tml-login input[type=password]:focus{
	outline: none;
	color: #555;
    background: #efefef;
    border-color: #d3d3d3;
}
.tml-login .hint {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}
.cptch_time_limit_notice {
    display: block;
    color: red;
    font-size: 12px;
}
.cptch_input  {
	margin-bottom: 0;
    display: inline;
    font-size: 12px;
    width: 40px;
}
.cptch_reload_button_wrap {
    display: table-cell;
    margin: 5px 0 !important;
    vertical-align: middle;
    line-height: 1;
}
.cptch_block {
    display: block !important;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    word-spacing: normal !important;
    text-align: left;
}
.cptch_wrap {
    display: table-row !important;
    position: relative;
    clear: both;
}
.cptch_block label {
    word-wrap: break-word;
}
.dashicons{
	display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
}
.btnrefresh{	
    margin: 0 15px;
    height: 20px;
    width: 20px;
    top: -1px;
}
.btnrefresh:hover {
    cursor: pointer;
    opacity: .7;
}
.tml-submit-wrap  input[type=submit]{
	border-color: #000;
    background: #fff;
	color:#000;
}
.tml-submit-wrap input[type=submit]:hover{
	border-color: #000;
    background: #000;
	color:#fff;
}
form input .cptch_input {
    padding-left: 8px;
    padding-right: 8px;
}
.tml p {
    margin: 0 0 1.5em 0;
    padding: 0;
}
#pass2{
	 width: 100%;
}
#user_pass{
    width: 100%;
}
#pass1-text {
    width: 100%;
}
.tml .tml-rememberme-wrap input {
    vertical-align: middle;
    width: auto;
}
input[type=checkbox]{
	display: inline-block;
	margin:0px;
}
.tml .tml-rememberme-wrap label {
    display: inline;
}
.tml label {
    text-align: left;
}
.tml .tml-action-links {
    display: inline-block;
    list-style: none;
    margin: .5em auto;
    padding: 0;
    text-align: center;
}
.tml .tml-action-links li:last-child { border-right:0px; }
.tml .tml-action-links li {
    border: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    float: left;
    line-height: 1;
    list-style: none;
    margin: 0 .5em 0 0;
    padding: 0 .5em 0 0;
}
.tml-login input[type=password]{
	background: #f3f3f3;
    border-color: #e3e3e3;
	padding: 10px 1.5rem;
    font-size: 1.125rem;
    border: 1px solid;
    opacity: .75;
	box-sizing: border-box;
	transition: all .5s ease-in-out;
}
.post-thumbnail{
	    border-color: #d28881;
}
.posts-list__item.post-thumbnail--fullwidth.has-post-thumbnail {
    border: none;
}
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .not-found .page-title {
    color: #181a1f;
}
.post-thumbnail--fullwidth.has-post-thumbnail .post-thumbnail img{
	max-width: none;
    width: 100%;
}
.post-thumbnail__img {
    display: inline-block;
    vertical-align: top;
}
.entry-meta {
    margin: 1em 0 1.5em;
    font-size: 15px;
    //font-size: 0.9375rem;
}
.posted-by{
    color: #d28881;
}
.post-featured-content {
	color: #d28881;
}
.entry-meta>span:before {
    color: #d28881;
}
.entry-meta>span:before {
    content: '\2022';
    margin: 0 6px 0 5px;
}
.entry-footer {
    position: relative;
    margin-top: 0.65em;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
.has-post-thumbnail .post-thumbnail .post__cats {
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 10px;
    margin: 0;
}
.post__cats a {
    border-color: #181a1f;
    color: #ffffff;
    background-color: #181a1f;
}
.sticky__label {
    border-color: #181a1f;
    color: #ffffff;
    background-color: #181a1f;
}
.hentry {
    position: relative;
    //margin-bottom: 1em;
    border-radius: 0;
}
.post__cats a {
    font-size: 15px;
    //font-size: 0.9375rem;
    line-height: 1.5;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
    margin: 0 3px 3px 0;
    padding: 0 7px 0 5px;
    vertical-align: top;
    text-decoration: none;
}
img {
    height: auto;
}
.btn{
    background-color: #181a1f;
    border-color: #181a1f;
    background: transparent;
}
.posts-list__item .btn .material-icons{
	line-height: 46px;
    width: 46px;
    height: 46px;
    color: inherit;
}
.btn-primary {
    background-color: #181a1f;
    border-color: #181a1f;
    background: transparent;
}
.container {
    max-width: inherit;
    padding-left: 30px;
    padding-right: 30px;
}
.main{
	display: block;
}
.btn-primary{
	color: #181a1f;
}
.btn-primary:hover {
    color: #ffffff;
    border-color: #181a1f;
    background-color: #181a1f;
}
.posts-list .hentry:last-child {
    margin-bottom: 2.5em;
}
.posts-list__item{
	background-color: rgb(247,247,247);
    border-color: #d28881;
}



.search-form {
    margin: 0;
    padding: 0;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
#sidebar-primary {
    overflow: hidden;
}
input[type='search']{
	padding: 15px 20px 16px;
    //font-size: 16px;
    font-size: 1rem;
    line-height: 19px;
    font-style: italic;
    color: #7a7a7a;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    -webkit-appearance: none;
    border-radius: 0;
}
.sidebar-primary .search-form__field[type='search']{
	border-color: #eaeaea;
}
.search-form__field[type='search'] {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 52px);
    max-width: 250px;
}
.search-form__submit {
    float: left;
    width: 52px;
    height: 52px;
    border: 3px solid;
    padding: 9px 12px;
}
.search-form__submit i.material-icons {
    line-height: 1.3em;
    display: block;
    margin: 0 auto;
    //font-size: 26px;
    font-size: 1.625rem;
}
.sidebar-secondary .widget {
    margin-bottom: 50px;
}
input[type='search']:focus{
	outline: none;
}
.widget+.widget {
    margin-top: 1em;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    //font-size: 24px;
    //display: inline-block;
    //line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    //-moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
label {
    cursor: default;
}
.search-form:after {
    display: block;
    clear: both;
    width: 100%;
    content: '';
}
.sidebar-primary .subscribe-block__input[type='email'] {
    margin-bottom: 10px;
}
.subscribe-block__input[type='email'] {
    width: 100%;
    max-width: none;
    margin-right: 10px;
    padding: 10px 16px 11px;
    //border: none;
	//font-size: 15px;
    font-size: 0.9375rem;
    color: #8d8d8d;
}
input{
	font: inherit;
    margin: 0;
}
.subscribe-block__submit {
    font-family: Lato,sans-serif;
    font-weight: 400;
    color: #333439;
    border-color: #181a1f;
    background-color: transparent;
}
.subscribe-block__success {
    color: #4ccb00;
}
.subscribe-block__error {
    color: #fd3c3d;
}
.sidebar-primary .follow-block{
	padding: 30px 20px 35px;
}
.social-list {
    margin: 0 -10px;
}
.follow-block .social-list__items {
    margin-bottom: 0;
}
.inline-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.follow-block .menu-item {
    margin: 3px;
}
.widget li {
    color: #181a1f;
}
.inline-list li {
    display: inline-block;
    vertical-align: top;
}
ul li{
    position: relative;
    //margin-bottom: 0.5em;
}
.sidebar-primary .follow-block .menu-item a{
	width: 40px;
    height: 40px;
}
.follow-block .menu-item a {
    font-family: Lato,sans-serif;
    font-weight: 400;
    color: #333439;
    border-color: #181a1f;
    background-color: transparent;
}
.follow-block .menu-item a {
    border: 2px solid;
    border-radius: 50%;
    //width: 60px;
    //height: 60px;
    text-align: center;
}
.social-list .menu-item>a {
    display: block;
    text-decoration: none;
    //text-align: center;
}
.sidebar-primary .follow-block .menu-item a:before{
    font-size: 18px;
    line-height: 37px;
}
.subscribe-block {
    padding: 38px 16px 17px;
    text-align: center;
}
.sidebar-primary .subscribe-block__input[type='email']{
	border-color: #eaeaea;
    border: 1px solid;
}
.widget-title {
    margin: 0 0 1.625em 0;
    position: relative;
    padding: 2.2em 0 0 0;
    border-top: 2px solid #e9e9e9;
}
.custom-posts__item .entry-header h6{
	margin: 0 0 4px;
}
h6 a {
    color: inherit;
}
.post-thumbnail__img {
    display: inline-block;
    vertical-align: top;
}
.widget-about-author {
    text-align: center;
}
.about-author_avatar img {
    vertical-align: top;
    max-width: none;
    width: 100%;
}
.about-author_content {
    background-color: #eaeaea;
}
.post__cats a:hover {
    color: #ffffff;
    background-color: #d28881;
}
.subscribe-block__input-group {
    padding-top: 37px;
}
.btn-primary:hover {
    color: #ffffff;
    border-color: #181a1f;
    background-color: #181a1f;
}
.about-author_btn.btn {
    padding: 9px 20px;
}
.about-author_btn_box {
    margin-top: 11%;
}
.custom-posts__item .entry-header h6{
	margin: 0 0 4px;
}
.btn:hover{
    color: #ffffff;
    border-color: #181a1f;
    background-color: #181a1f;
}
.widget select {
    max-width: 248px;
    width: 100%;
}
.widget_categories select {
    background-color: #eaeaea;
}
.widget  select {
    background-color: #eaeaea;
}
.widget_recent_entries ul {
    margin: 0;
}
ul {
    list-style: disc;
}
.widget_recent_entries a{
	font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    color: #181a1f;
}
.widget_recent_entries a:hover{
	color: #d28881;
}
.widget_recent_entries ul li a {
    text-transform: uppercase;
}
.post-thumbnail--fullwidth.no-thumb .post-featured-content img{
	max-width: none;
    width: 100%;
}
.widget_recent_entries ul li {
    font-size: 15px;
    //font-size: 0.9375rem;
    list-style: none;
    margin-left: 0;
    margin-bottom: 27px;
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    //-webkit-flex-direction: column-reverse;
    //-ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
ul {
    padding-left: 0;
}
.widget_categories select:focus{
    outline: none;
}
.widget_archive select:focus{
    outline: none;
}
.widget_categories select {
    border: none;
    -webkit-appearance: menulist;
}
.widget_archive select {
    border: none;
    -webkit-appearance: menulist;
}
select{
	padding: 15px 20px 16px;
    font-size: 16px;
    //font-size: 1rem;
    line-height: 19px;
    font-style: italic;
    color: #7a7a7a;
    //border: 1px solid #e9e9e9;
    //background-color: #ffffff;
    //-webkit-appearance: none;
    border-radius: 0;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.post-featured-content .post__cats {
    position: absolute;
    z-index: 99;
    //top: 10px;
    //left: 10px;
    padding: 0;
    margin: 0;
}
.pagination {
    padding: 30px 0;
    margin: 0 0 100px;
    border-top: 2px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    text-align: center;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.page-numbers.next{
	width: 2.6em;
    border: none;
    padding: 0;
    margin: 0 10px;
}
.page-numbers.next:hover{
	color: #ffffff;
    background: #d28881;
}
.site-main nav{
	display: block;
}
.page-numbers.next i{
	font-size: 2.125rem;
    vertical-align: middle;
}
.page-numbers.next, .page-numbers.prev {
    color: #ffffff;
    background: #181a1f;
}

.page-numbers {
    display: inline-block;
    font-size: 20px;
    //font-size: 1.25rem;
    line-height: 2.4;
    margin: 0 2px;
    padding: 0 8px;
    height: 2.6em;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
}
.post-featured-content .post__cats {
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
}

.btn {
    text-decoration: none;
    //-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    //font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    max-width: 100%;
    //padding: 5px 20px 6px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 3px solid;
    box-shadow: none;
    border-radius: 0;
}
.widget-title {
    margin: 0 0 1.625em 0;
    position: relative;
    padding: 2.2em 0 0 0;
    border-top: 2px solid #e9e9e9;
}
.widget-title:before {
    background-color: #181a1f;
}
.widget_search .widget-title:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 6px;
    top: -2px;
    left: 0;
}
.custom-posts .widget-title:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 6px;
    top: -2px;
    left: 0;
}
.widget-about-author .widget-title:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 6px;
    top: -2px;
    left: 0;
}
.widget_categories .widget-title:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 6px;
    top: -2px;
    left: 0;
}
.widget_archive .widget-title:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 6px;
    top: -2px;
    left: 0;
}
.widget_recent_entries .widget-title:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 6px;
    top: -2px;
    left: 0;
}
@media (max-width: 544px){
	.container {
		max-width: inherit;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (min-width: 544px){
	.custom-posts__item .post-thumbnail {
		width: 130px;
		float: left;
		margin: 0 20px 8px 0;
	}
	.posts-list__item .btn__text {
		display: none;
	}
	.post-thumbnail--fullwidth.no-thumb .post-featured-content{
		margin: -20px -20px 1.5em;
	}
	.posts-list__item {
		padding: 20px;
	}
	.post-thumbnail--fullwidth.has-post-thumbnail .post-thumbnail{
		margin: -20px -20px 1.5em;
	}
	.subscribe-block__input-group {
		margin: 0 10px;
	}
	.subscribe-block {
		padding: 48px 20px 17px;
	}
}
@media (min-width: 992px){
	.post-thumbnail--fullwidth.has-post-thumbnail .post-thumbnail{
		margin: -40px -40px 1.5em;
	}
	.post-thumbnail--fullwidth.no-thumb .post-featured-content{
		margin-bottom: 2.7em;
	}
	.posts-list--default:not(.two-sidebars) .posts-list__item .btn .material-icons{
		display: none;
	}
	.posts-list__item .btn__text {
		display: inline-block;
	}
	.posts-list--default:not(.two-sidebars) .posts-list__item .btn {
		padding: 9px 20px;
	}
	.post-thumbnail{
		    margin-bottom: 2.7em;
	}
.posts-list__item {
    padding: 40px;
}
.has-post-thumbnail .post-thumbnail .post__cats {
    top: 20px;
    left: 20px;
}
}
@media (max-width: 768px){
	.posts-list .entry-content {
		display: none;
	}
}
@media (max-width: 768px){
	.tml input{
		margin: .5em 0;
		width: 100%;
	}
}
@media (min-width: 768px){
	
	.tml-login .tml-submit-wrap {
		display: table-cell;
		text-align: right;
		
	}
	.tml-login .tml-rememberme-submit-wrap {
		display: table;
		margin-bottom: 1.5em;
		width: 100%;
	}
	.custom-posts__item .post-thumbnail {
		width: 130px;
		float: left;
		margin: 0 20px 8px 0;
	}
}
@media (min-width: 768px){
	.posts-list .entry-content {
		display: block;
	}
	.post-thumbnail--fullwidth.has-post-thumbnail .post-thumbnail{
		margin: -30px -30px 1.5em;
	}
	.sidebar-primary .widget{
		margin-bottom: 80px;
	}
	.subscribe-block {
		padding: 58px 30px 17px;
	}
	.widget+.widget {
		margin-top: 2em;
	}
	.sidebar-primary .widget{
		margin-bottom: 80px;
	}
	.posts-list__item {
		padding: 30px;
	}
}
@media (min-width: 992px){
	.entry-footer a i{
		display: none;
	}
}
@media (max-width: 1400px){
	.sidebar-primary {
		font-size: 16px;
	}
	.custom-posts__item .post-thumbnail {
		width: auto;
		float: none;
		margin: 0 0 25px 0;
	}
	.sidebar-primary .subscribe-block__input[type='email'] {
		padding-left: 9px;
		padding-right: 9px;
		font-size: 14.4px;
		font-size: 0.9rem;
	}
	.sidebar-primary .subscribe-block__message {
		font-size: 16px;
	}
	.sidebar-primary .subscribe-block .widget-title {
		font-size: 20px;
	}
}
@media (min-width: 1200px){
	.col-xs-12{
		position: relative;
		min-height: 1px;
		padding-right: 1.875rem;
		padding-left: 1.875rem;
	}
	.post-thumbnail--fullwidth.has-post-thumbnail .post-thumbnail{
		margin: -60px -60px 1.5em;
	}
	.post-thumbnail--fullwidth.no-thumb .post-featured-content{
		margin: -60px -60px 1.5em;
	}
	.about-author_content {
		padding: 40px 45px 50px;
	}
	.subscribe-block {
		padding: 58px 30px 17px;
	}
	.post-featured-content{
		    margin: -60px -60px 1.5em;
	}
	
	.posts-list__item {
		padding: 60px;
	}
}
@media (min-width: 992px){

	.post-featured-content .post__cats {
		top: 20px;
		left: 20px;
	}
	.subscribe-block {
		padding: 38px 16px 17px;
	}
	.col-lg-9 {
		//-webkit-box-flex: 0;
		//-webkit-flex: 0 0 75%;
		//-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
}

body { background:#ffffff;}

/*nav css*/




/*nav css close*/




.page-header {background:#ccc;margin:0;}

.profile-head { width:100%;background-color:#eaeaea;float: left;padding: 15px 5px;}
.profile-head img { height:150px; width:150px; margin:0 auto; border:5px solid #fff; border-radius:5px;}
.profile-head h5 {width: 100%;padding:5px 5px 0px 5px;text-align:justify;font-weight: bold;color: #000;font-size: 25px;text-transform:capitalize;
margin-bottom: 0;}
.profile-head p {width: 100%;text-align: justify;padding:0px 5px 5px 5px;color: #000;font-size:17px;text-transform:capitalize;margin:0;}
.profile-head a {width: 100%;text-align: center;padding: 10px 5px;color: #000;font-size: 15px;text-transform: capitalize;}

.profile-head ul { list-style:none;padding: 0;}
.profile-head ul li { display:block; color:#000;padding:5px;font-weight: 400;font-size: 15px;}
.profile-head ul li:hover span { color:rgb(0, 4, 51);}
.profile-head ul li span { color:#000;padding-right: 10px;}
.profile-head ul li a { color:#000;}
.profile-head h6 {width: 100%;text-align: center;font-weight: 100;color: #000;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}


.nav-tabs {margin: 0;padding: 0;border: 0;}
.nav-tabs > li > a {background: #DADADA;border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);}
.tab-pane {background: #ffffff;box-shadow: 0 0 4px rgba(0,0,0,.4);border-radius: 0;text-align: center;padding: 10px;}
.tab-content>.active {margin-top:50px;/*width:100% !important;*/} 

/* edit profile css*/

.hve-pro {    background-color:rgb(255, 102, 0);padding: 5px; width:100%; height:auto;float:left;}
.hve-pro p {float: left;color:#fff;font-size: 15px;text-transform: capitalize;padding: 5px 20px;font-family: 'Noto Sans', sans-serif;}
h2.register { padding:10px 25px; text-transform:capitalize;font-size: 25px;color: #000;}
.fom-main { overflow:hidden;}

legend {font-family: 'Bitter', serif;color:#ff3200;border-bottom:0px solid;}
.main_form {background-color: #;}
label.control-label {font-size:15px;font-weight:400;cursor: pointer; margin-bottom:5px !important;text-align:left !important;color:#798288;}
.submit-button {color: #000;background-color:rgb(255, 102, 0);width:190px;border: 3px solid #000;border-radius: 0px; transition:all ease 0.3s;margin: 5px;
float:left;}
.submit-button:hover, .submit-button:focus {color: #ffffff;background-color:#000;}
.hint_icon {color:#ff3200;}
.form-control:focus {
	outline: none;
    color: #555;
    background: #efefef;
    border-color: #d3d3d3;
	}
select.selectpicker { color:#99999c;}
select.selectpicker option { color:#000 !important;}
select.selectpicker option:first-child { color:#99999c;}
.input-group { width:100%;}
.uplod-picture {width: 100%; background-color:#;color: #fff; padding:20px 10px;margin-bottom:10px;}
.uplod-file {position: relative;overflow: hidden;color: #fff;background-color: rgb(0, 4, 51);border: 0px solid #a02e09;border-radius: 0px;
 transition:all ease 0.3s;margin: 5px;}
.uplod-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;
filter: alpha(opacity=0);opacity: 0;outline: none;background: white;cursor: inherit;display: block;}
.uplod-file:hover, .uplod-file:focus {color: #fff;background-color:rgb(255, 102, 0);}
h4.pro-title { font-size:24px; color:rgba(0, 4, 51, 0.96); text-transform:capitalize; text-align:justify;padding: 10px 15px;font-family: 'Bitter', serif;}
.bio-table { width:75%;border:0px solid;}
.bio-table td {text-transform: capitalize;text-align: left;font-size: 15px;}
.bio-table>tbody>tr>td { border:0px solid;text-transform: capitalize;color: rgb(0, 4, 51); font-size:15px;}
.responsiv-table { border:0px solid;}
.nav-menu li a {margin: 5px 5px 5px 0px;position: relative;font-size:15px;display: block;border: 3px solid #000 !important;box-shadow: none !important;
background-color:#ffffff !important;color: #000 !important;white-space: nowrap;}
.nav-menu li.active a {background-color:#000 !important;color:#fff !important;}
.stick{position:fixed !important;top:0;z-index:999 !important;width:100%;background:#ffffff !important;height:auto; transition:all ease 0.8s;
-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);}
.stick a { line-height:20px !important;}
.stick img { margin:0 !important;}

.nav-menu li a:hover{
	background-color:#000 !important;
	color:#ffffff !important;
}

@media all and (max-width:768px){

.navbar-inverse .drop_menu {display: block;visibility: visible;width: 110px;height:1000px;padding:0px 20px;position: absolute;right:-100px;
transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}
.navbar-brand {padding: 0;margin-left: 10px !important;}
a.menu { display:block !important;margin: 9px 2px;float: right;color: rgba(255, 102, 0, 0.98); border:0px solid; background:none; font-size:30px;width:27px;position: relative;
cursor:pointer;}
a.menu:hover, a.menu:focus { color:rgb(0, 4, 51);}

.drop_menu1 { display: block;visibility: visible;width:250px;height:1000px;padding:5px 30px;position: absolute;right:0 !important;
background-color:#ffffff !important; transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}

}
.main_form input[type=text]{
	background: #f3f3f3;
    border-color: #e3e3e3;
    width: 100%;
    padding: 10px 1.5rem;
    font-size: 1.125rem;
    border: 1px solid;
    opacity: .75;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}
.main_form input[type=password]{
	background: #f3f3f3;
    border-color: #e3e3e3;
    width: 100%;
    padding: 10px 1.5rem;
    font-size: 1.125rem;
    border: 1px solid;
    opacity: .75;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}
@media all and (max-width:430px){
.profile-head ul li {font-size: 12px !important;}
.nav-menu li { width:50%;}
.bio-table>tbody>tr>td {font-size: 13px;}

}

